@import "../../assets/style/mixins.scss";

.sliderSection {
  margin: 50px 20px 100px 20px;
  .aboutSlider {
    display: flex;
    gap: 40px;
    h5 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
    }
  }
  h1 {
    font-size: 45px;
    margin-left: 50px;
    width: 100%;
  }
  .swiper {
    width: 90%;
    height: 100%;
    border-radius: 50px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .speech {
      font-size: 30px;
      padding: 25px;
    }
    .author {
      font-size: 20px;
      text-align: end;
      padding: 30px 25px;
    }
  }

  .swiper-slide img {
    display: block;
    width: 60%;
    object-fit: cover;
    margin: 0 auto;
  }
  .slideContent {
    width: 100%;
    display: flex;
    flex: 80% 20%;
    &>div {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
    }
  }
}

@include md {
  .aboutSlider {
    flex-direction: column;
    margin-bottom: 80px;
    h1 {
      font-size: 30px;
    }
    h5,
    p {
      margin: 0 30px;
    }
  }
  .swiper {
    margin: 40px 0;
  }
  .slideContent {
    flex-direction: column;
    img {
      width: 100% !important;
      height: auto !important;
      margin: 0 !important;
      object-fit: cover;
    }
    .speech {
      font-size: 20px !important;
    }
    .author {
      font-size: 15px !important;
      margin-top: 10px !important;
    }
  }
}
